/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

h1 {
  font-weight: bold;
}

button {
  font-size: inherit;
  line-height: inherit;
  padding: 6px;
  background-color: #EEE;
  color: #222;
  border: 1px solid #DDD;
  border-radius: 5px;
}
#answer-button {
  background-color: green;
  color: #EEE;
}

#header,
#app {
  box-sizing: border-box;
  padding-top: 12px;
  max-width: 500px;
  margin: 0 auto;
}
#header {
  padding: 12px;
}
.videos {
  position: relative;
}
.videos figcaption {
  padding: 12px;
}
video {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #222;
  border: 1px solid #DDD;
}
#self-video {
  position: absolute;
  width: 20%;
  top: 12px;
  right: 12px;
}
