body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.main {
  margin-top: 70px;
  height: calc(100vh - 100px);
}
nav {
  width: 100%;
  margin: 0;
  background: white;
  -webkit-box-shadow: 0px 6px 5px -5px #bdc3c7;
  -moz-box-shadow: 0px 6px 5px -5px #bdc3c7;
  box-shadow: 0px 6px 8px -5px #bdc3c7;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  padding: 5px;
  height: 100%;
  float: left;
}

#createRoom {
  background-color: #119b48;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#callEnd {
  background: #ff0000;
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 18px/1 "Calibri", sans-serif;
  text-align: center;
}

#startButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.displayVideoTest {
  border-radius: 25px;
  text-align: center;
  justify-items: center;
  height: 400px;
  width: 80%;
  background-color: black;
  border: 1px solid #e8e8e8;
}

video {
  object-fit: cover;
  border-radius: 10px;
}

*/ .room-body {
  margin: 0;
  width: 100%;
  margin-top: 70px;
  height: calc(100vh - 100px);
}

.room-main {
  position: fixed;
  width: 100%;
}
.room-game-wrapper {
  height: calc(88vh - 100px);
  width: 100%;
  display: block;
}
.room-video-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.room-video {
  height: 200px;
  width: 98%;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
}

.room-video-stream {
  object-fit: scale-down;
}

.player-name {
  color: white;
  align-items: center;
  position: absolute;
  margin: 1%;
}

.game-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.8fr 2fr 0.4fr;
  justify-items: center;
}

.game-grid-col {
  padding-top: 70px;
}


.chat-send-button{
  background-color: #119b48;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.box {
  width: 300px;
  margin: 10px auto;
  background: #800080;
  padding: 15px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
}
.box2 {
  width: 300px;
  margin: 10px auto;
  background: #FF0080;
  padding: 15px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #800080;
  border-right: 10px solid transparent;
  border-top: 10px solid #800080;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}


.sb2:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #FF0080;
  border-top: 10px solid #FF0080;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

#myBtn {
  background: #119b48;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
}

#myInput {
  height: 30px;
}