body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.main {
  margin-top: 70px;
  height: calc(100vh - 100px);
}

nav {
  width: 100%;
  margin: 0;
  background: white;
  -webkit-box-shadow: 0px 6px 5px -5px #bdc3c7;
  -moz-box-shadow: 0px 6px 5px -5px #bdc3c7;
  box-shadow: 0px 6px 8px -5px #bdc3c7;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  padding: 5px;
  height: 100%;
  float: left;
}

#createRoom {
  background-color: #119b48;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
}

#callEnd {
  background: #ff0000;
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 18px/1 "Calibri", sans-serif;
  text-align: center;
}

#startButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

video {
  object-fit: cover;
  border-radius: 10px;
  min-height: 100%;
  min-width: 100%;
}
.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.displayVideoTest {
  justify-self: right;
  height: 80%;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/images/logo.png");
}

.createButton {
  justify-self: left;
}

.room-body {
  margin: 0;
  width: 100%;
  margin-top: 70px;
  height: calc(100vh - 100px);
}

.room-main {
  position: fixed;
  width: 100%;
}
.room-wrapper {
  height: calc(100vh - 80px);
  width: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
}

.room-game-grid {
  grid-template-columns: 25% 60% 15%;
  display: grid;
  grid-template-rows: 100%;
}

.room-chat {
  grid-row-start: 1;
  grid-column-start: 1;
  height: 100%;
}

.room-game-wrapper {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  /* grid-row-start: 1;
  grid-column-start: 2; */
  /* background-color: blue; */
}

.left-layer {
  display: grid;
  position:relative;
  grid-template-rows: 40% 20% 40%;
}

.middle-layer {
  display: grid;
  position:relative;
  grid-template-rows: 40% 20% 40%;
}

.right-layer {
  display: grid;
  position:relative;
  grid-template-rows: 40% 20% 40%;
}

.home-block-green{
  position:relative;
  background-color: green;
}

.home-block-red{
  background-color: red;
}

.home-block-blue{
  background-color: blue;
}

.home-block-yellow{
  width: 100%;
  background-color: yellow;
}

.finish-block{
  background-color: grey;
}

.room-link {
  grid-row-start: 1;
  grid-column-start: 3;
}
.room-video-grid {
  grid-row-start: 2;
  display: grid;
  grid-row: 100%;
  height: 100%;
  grid-column: span 3;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
}

.room-video {
  border-radius: 25px;
  justify-self: center;
  height: 100%;
  width: 98%;
  max-width: 98%;
  max-height: 240px;
  border-radius: 10px;
  background-color: black;
  border: 1px solid #e8e8e8;
}

.room-video-stream {
  object-fit: scale-down;
  border-radius: 10px;
}

.player-name {
  color: white;
  align-items: center;
  position: absolute;
  margin: 1%;
}

.chat-send-button {
  background-color: #119b48;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

#myBtn {
  background: #119b48;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  margin-right: 3px;
}

#myInput {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.peer {
  border-color: #ccc;
  background-color: #ddd;
}

/*
Today - Dhiraj Jain
*/

#chat-form {
  display: flex;
}
#chat-form > input {
  outline: none;
  width: 70%;
  height: 25px;
  margin-right: 1%;
}
#chat-form > input:focus {
  border-color: #3857a7;
}
#chat-form > button {
  width: 60px;
  min-width: 5%;
  background-color: #119b48;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1em;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}
#chat-form > * {
  flex: 1 1 auto;
}

aside.chat {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  max-width: 100%;
  height: 80%;
}
ul#chat-log {
  overflow: scroll;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  padding: 6px;
}
ul#chat-log li {
  margin-bottom: 6px;
  padding: 6px;
  background-color: #ccc;
  border-radius: 6px;
  max-width: 60%;
  font-size: 1em;
}
ul#chat-log li.peer {
  margin-right: auto;
}
ul#chat-log li.self {
  margin-left: auto;
  background-color: #3857a7;
  color: #fff;
}

ul#chat-log li.join {
  margin-left: auto;
  margin-right: auto;
  background-color: none;
  background: none;
  color: grey;
  font-size: 0.7em;
}

#join-button {
  background-color: #119b48;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#join-form {
  align-items: center;
}

#join-form > input {
  outline: none;
  width: 70%;
  display: flex;
  height: 25px;
  margin: auto;
  margin-top: 20%;
  justify-self: center;
}

#join-button {
  display: flex;
  margin: auto;
  margin-top: 10px;
}

#join-form > input:focus {
  border-color: #3857a7;
}

ul#chat-log li.join > span {
  font-size: 0.7em;
}
.chat-time {
  float: right;
  font-size: 0.5em;
  margin-top: 0.5em;
}
