body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.main {
  margin-top: 70px;
  height: calc(100vh - 100px);
}
nav {
  width: 100%;
  margin: 0;
  background: white;
  -webkit-box-shadow: 0px 6px 5px -5px #bdc3c7;
  -moz-box-shadow: 0px 6px 5px -5px #bdc3c7;
  box-shadow: 0px 6px 8px -5px #bdc3c7;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  padding: 5px;
  height: 100%;
  float: left;
}

#createRoom {
  background-color: #119b48;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#callEnd {
  background: #ff0000;
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 18px/1 "Calibri", sans-serif;
  text-align: center;
}

#startButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.displayVideoTest {
  border-radius: 25px;
  text-align: center;
  justify-items: center;
  height: 400px;
  width: 80%;
  background-color: black;
  border: 1px solid #e8e8e8;
}

video {
  object-fit: cover;
  border-radius: 10px;
}

*/ .room-body {
  margin: 0;
  width: 100%;
  margin-top: 70px;
  height: calc(100vh - 100px);
}

.room-main {
  position: fixed;
  width: 100%;
}
.room-game-wrapper {
  height: calc(88vh - 100px);
  width: 100%;
  display: block;
}
.room-video-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.room-video {
  height: 200px;
  width: 98%;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
}

.room-video-stream {
  object-fit: scale-down;
}

.player-name {
  color: white;
  align-items: center;
  position: absolute;
  margin: 1%;
}

.game-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.8fr 2fr 0.4fr;
  justify-items: center;
}

.game-grid-col {
  padding-top: 70px;
}


.chat-send-button{
  background-color: #119b48;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}


#myBtn {
  background: #119b48;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  margin-right: 3px;

}

#myInput {
  height: 30px;
  margin-left: 5px; 
  margin-right: 5px;
}

.container-input {
  max-width:100%;
  max-height: 400px;
  border: 2px solid #dedede;
  background-color: #7e7979;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.container-box {
  max-width:100%;
  max-height: 400px;
  border: 2px solid #dedede;
  background-color: #7e7979;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}


div.ex1 {
  overflow: scroll;
}
.container-left {
  max-width:100%;
  min-width:auto;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 10px 0;
  padding-left: 3px;
  margin-left: 5px;
  margin-right: 5px;
  float:  left;
  clear: left;
}
ul {
  overflow: scroll;
  margin-bottom: 5px;
  display: flex;
  flex-flow: column wrap;
  padding: 6px;
}

li{
   display: table;
  box-sizing: border-box;
  margin-bottom: 6px;
  padding: 6px;
  background-color: #CCC;
  border-radius: 6px;
  flex: 0 1 auto;
  max-width: 70%;
  min-width: 0;
}
.container-right {
  max-width:100%;
  min-width:auto;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 10px 0;
  padding-right: 3px;
  margin-left: 5px;
  margin-right: 5px;
  float:  right;
  clear: right;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}