<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="localhost:3000">
        <img
          class="logo"
          src="/images/logo-brand.png"
          width="240px"
          alt="ludo-logo"
        />
      </a>
    </nav>
    <section class="main">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

      <video id="localVideo" autoplay playsinline></video>
      <video id="remoteVideo" autoplay playsinline></video>

      <div>
        <button id="startButton">Start</button>
        <button id="callStart">Call</button>
        <button id="CallEnd">Hang Up</button>
      </div>
    </section>

    <script src="javascripts/main.js"></script>
  </body>
</html>
