<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <video id="localVideo" autoplay playsinline></video>
    <video id="remoteVideo" autoplay playsinline></video>


    <div>
      <button id="startButton">Start</button>
      <button id="callStart">Call</button>
      <button id="CallEnd">Hang Up</button>
    </div>

    <script src="javascript/main.js"></script>


  </body>
</html>
