<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="localhost:3000">
        <img
          class="logo"
          src="/images/logo-brand.png"
          width="240px"
          alt="ludo-logo"
        />
      </a>
    </nav>
    <section class="main">
      <div class="wrapper">
        <div class="displayVideoTest">
          
        </div>
        <div class="createButton">
          <a id="createRoom" href="/create-room">Create Room</a>
        </div>
      </div>
    </section>

    <script src="javascripts/main.js"></script>
  </body>
</html>
