<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="room-body">
    <nav>
      <a href="localhost:3000">
        <img
          class="logo"
          src="/images/logo-brand.png"
          width="240px"
          alt="ludo-logo"
        />
      </a>
    </nav>
    <section class="room-main">
      <div class="room-game-wrapper">
        <div class="game-grid">
          <!-- Temporary Remove background colors when implementing-->
          <div style="background-color: azure; width: 100%"></div>
          <div style="background-color: beige; width: 100%"></div>
          <div style="background-color: bisque; width: 100%"></div>
        </div>
      </div>
      <div class="room-video-wrapper">
        <div class="room-video">
          <div class="player-name">Player 1</div>
          <video
            class="room-video-stream"
            width="100%"
            height="100%"
            autoplay
            playsinline
          ></video>
        </div>
        <div class="room-video">
          <div class="player-name">Player 2</div>
          <video
            class="room-video-stream"
            width="100%"
            height="100%"
            autoplay
            playsinline
          ></video>
        </div>
        <div class="room-video">
          <div class="player-name">Player 3</div>
          <video
            class="room-video-stream"
            width="100%"
            height="100%"
            autoplay
            playsinline
          ></video>
        </div>
        <div class="room-video">
          <div class="player-name">Player 4</div>
          <video
            class="room-video-stream"
            width="100%"
            height="100%"
            autoplay
            playsinline
          ></video>
        </div>
      </div>
    </section>
    <script>
      window.NAMESPACE = `<%- namespace %>`;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/room.js"></script>
  </body>
</html>
