<!DOCTYPE html>

  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="room-body">
    <nav>
      <a href="localhost:3000">
        <img
          class="logo"
          src="/images/logo-brand.png"
          width="240px"
          alt="ludo-logo"
        />
      </a>
    </nav>
    <section class="room-main">
      <div class="room-wrapper">
        <div class="room-game-grid">
          <div class="room-chat">
            <aside class="chat">
              <ul id="chat-log">
              </ul>
              <form id="chat-form" action="#null"><input id="message" disabled="true" name="message" type="text" autocomplete="off" />
                <button id="send-button" disabled="true" name="send-button" type="submit">Send</button>
              </form>
          </aside>
        </div>
          <div class="room-game">
  
          </div>
  
          <div class="room-link">
            <button id="call-button">Call</button>
          </div>
  
          <div class="room-video-grid">
            <div class="room-video">
              <div class="player-name">Player 1</div>
                <video
                  class="room-video-stream"
                  id="self-video"
                  width="100%"
                  height="100%"
                  autoplay
                  playsinline>
                </video>
              </div>
            <div class="room-video">
              <div class="player-name">Player 2</div>
                <video
                id="peer-video"
                  class="room-video-stream"
                  width="100%"
                  height="100%"
                  autoplay
                  playsinline>
                </video>
            </div>
            <div class="room-video">
              <div class="player-name">Player 3</div>
                <video
                  class="room-video-stream"
                  width="100%"
                  height="100%"
                  autoplay
                  playsinline>
                </video>
            </div>
            <div class="room-video">
              <div class="player-name">Player 4</div>
                <video
                  class="room-video-stream"
                  width="100%"
                  height="100%"
                  autoplay
                  playsinline>
                </video>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      window.NAMESPACE = `<%- namespace %>`;
    </script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="javascripts/room.js"></script>
  </body>
</html>